* {
  font-family: 'Nanum Gothic', sans-serif;
  font-style: normal;
}

html {
  -ms-overflow-style: none; /* IE와 Edge를 위한 설정 */
  scrollbar-width: none; /* Firefox를 위한 설정 */
}

/* 웹킷 기반 브라우저를 위한 스타일 */
::-webkit-scrollbar {
  display: none; /* 스크롤바를 숨깁니다 */
}

body {
  background-color: #18191a;
  color: #fff;
  margin: 0;
}

.round {
  border-radius: 50%;
}
.round-0 {
  border-radius: 0;
}
.round-1 {
  border-radius: 10px;
}
