@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.notion-page-cover {
  max-width: 1200px !important;
  border-radius: 24px;
}

.notion-page-cover-wrapper img,
.notion-page-cover-wrapper span {
  width: 100% !important;
  height: 30vh !important;
  min-height: 30vh !important;
  max-height: 30vh !important;
}
